#root {
  background-color: #f1f5fa;
}

.navbar {
  height: 8vh;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 24px;
  position: sticky;
  top: 0;
  z-index: 10000;
}


}

.title {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  color: #172b4d;
  width: 75%;
}



  display: flex;
  gap: 5px;
  align-items: center;
  width: 50%;
}

  display: grid;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 15px 0;
}

.client {
  color: #344563;
}

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  margin: 15px 0;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
}

.btn:hover {
  background-color: #396df2;
  color: white;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  margin-top: 100px;
  background-color: #fff;
  border-top-right-radius: 73px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.about-content {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding-top: 15px;
  color: #344563;
}

.about-sm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.supporting-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  color: #7f8cff;
}

.about-smedia-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.btn2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  margin: 15px 0;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  cursor: pointer;
}

.btn2:hover {
  background-color: #396df2;
  color: white;
}

.experties {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  order: 1;
  width: 100%;
}

.skill-list {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.languages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

  background: #f7f7f9;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  box-sizing: content-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

}

.form {
  color: #fff;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
  gap: 15px;
  margin-top: 60px;
}

.form-title h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
}

.form-desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.input {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 5px;
  padding: 10px 0 10px 10px;
  width: 96%;
  font-family: "Poppins", sans-serif;
}

#msg {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #797878;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  outline: none;
  letter-spacing: 2px;
  resize: none;
}

#msg::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.form-btn {
  width: 50%;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
  padding: 10px 15px;
}

@media only screen and (min-width: 768px) {
  .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
    cursor: pointer;
  }

  .navbar {
    height: 4vh;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
  }

@media screen and (min-width: 992px) {
  .navbar {
    padding: 5px 50px;
  }

  .navbar-items li a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-items li:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.5s;
  }

  .hamburg {
    display: none;
  }

  .header {
    background-image: url(/pics/desktop-imgs/desktop-bg-img.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-bottom-left-radius: 65px;
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 110vh;
    overflow-y: hidden;
  }

  .intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: def-animation 2s ease-in-out 1;
  }

  @keyframes def-animation {
    0% {
      margin-top: 100%;
    }

    100% {
      margin-top: 0;
    }
  }

  #index #container-def h1 {
    margin-top: 0;
    line-height: 60px;
    animation: example 5s ease-in-out 1;
  }

  @keyframes example {
    from { color: rgb(0, 255, 200); }
    to { color: rgb(140, 0, 255); }
  }

  .description {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 1.3rem;
  }

  #index #container-def h2 {
    color: #7f8cff;
    font-size: 18px;
    line-height: 24px;
    font-family: "Poppins", sans-serif;
    padding-bottom: 0.5rem;
  }

  #index #container-def #icon-section {
    width: 20%;
    justify-content: flex-start;
  }

  .workcards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50vh;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    gap: 30px;
  }

  #workscontainer .container {
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
  }

  #workscontainer .container .work-pic,
  .work-pic-1 {
    width: 95%;
  }

  #workscontainer .container .work-pic-1 {
    margin-left: 30px;
  }

  #workscontainer .container .work-pic:nth-child(1) {
    display: none;
  }

  #workscontainer .container .work-description {
    width: 90%;
    height: auto;
  }

  #workscontainer .container .work-description .description-element {
    width: 90%;
  }

  #workscontainer .container .work-description .description-element .element {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
  }

  #workscontainer .container .work-description .description-text {
    font-size: 16px;
    line-height: 24px;
  }

  .works-details {
    padding-left: 3px;
    width: 45%;
    height: 100%;
  }

  #workscontainer .container .work-description .description-element li:first-child {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  #workscontainer .container .work-description #languages-1 {
    width: 60%;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  #workscontainer .container .work-description .languages {
    width: 100%;
  }

  #workscontainer .container .work-description .languages .ruby {
    width: 120px;
    height: 24px;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
  }

  .tag:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: all 0.5s;
  }

  .btn:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: all 0.5s ease-in-out;
  }

  .btn2:hover {
    cursor: pointer;
    background-color: #396df2;
    color: white;
    transform: scale(1.15);
    transition: all 0.5s;
  }

  .about-myself {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top-right-radius: 100px;
    gap: 15px;
  }

  .top {
    width: 32%;
  }

  .experties {
    width: 50%;
    display: flex;
    align-items: center;
  }

  .box-languages {
    width: 110px;
    height: 80px;
    padding: 0 0 15px 5px;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }

  .box-languages .icon-1 {
    width: 40px;
    margin: 0;
  }

  #contact-container {
    background-image: url(./images/desktop-images/contact-desk.png);
    margin: -140px auto;
  }

  #contact-items {

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #description-contact-box {
    width: 40%;
  }
}
  #contact-container #input-contact-box {
    width: 40%;
    margin: auto;
  }

  #contact-container .get-touch-btn {
    margin-bottom: 20px;
    align-self: center;
  }
}
